@media only screen and (max-width: 2560px) {
  nav, .navigation, .languages, .info, .contact, .signature {
    display: flex;
  }

  nav {
    width: 90%;
    margin: auto;
    margin-top: 19px;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: #a0a0a0;
  }

  .title {
    font-weight: normal;
    font-size: 1.6em;
  }

  .navigation {
    flex-basis: 50%;
    align-items: center;
  }

  .navigation li {
    margin-left: 20px;
    font-size: 1.5em;
  }

  .languages {
    align-items: center;
    justify-content: space-around;
    flex-basis: 3%;
  }

  .languages span:hover {
    cursor: pointer;
  }

  .selectedLang {
    font-weight: bold;
  }

  .info {
    width: 50%;
    margin: auto;
    position: absolute;
    left: 25%;
    top: 25%;
    flex-direction: column;
    justify-content: space-between;
    height: 35%;
  }

  .info p {
    font-family: 'Heebo', sans-serif;
    font-size: 1.4em;
    font-weight: 100;
  }

  .contact, .signature {
    flex-direction: column;
    font-weight: 100;
    font-size: 1.2em;
  }

  .contact span {
    margin-top: 10px;
  }

  .signature span {
    margin-top: 10px;
  }

  .backBtn {
    position: absolute;
    bottom: 10%;
    left: 5%;
  }

}

@media only screen and (max-width: 1360px) {
  .title {
    font-size: 1.2em
  }

  .navigation li {
    font-size: 1.1em;
  }

  .languages {
    flex-basis: 4%;
  }

  .languages span {
    font-size: 0.8em;
  }

  .info {
    width: 45%;
  }

  .info p {
    font-size: 0.8em;
  }

  .contact, .signature {
    font-size: 0.8em;
  }

  .backBtn {
    font-size: 0.8em;
  }
}
