@import url('https://fonts.googleapis.com/css?family=Roboto');

@media only screen and (max-width: 3840px) {
  nav, .navigation, .languages, .info, .newsletter, .contact, .signature, .exhibitionsNames, .exhibitionTitle, .exhibitionDescription, .eventPage {
    display: flex;
  }

  .exhibitionDescription, .backBtn, .events, .exhibitionTitle, .publications, .info, .contact, .address, .eventPage, .eventPageTitle {
    font-size: 1em;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a0a0a0;
    font-style: italic;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #a0a0a0;
      font-style: italic;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
      color: #a0a0a0;
      font-style: italic;
  }

  .mainNav {
    width: 90%;
    margin: auto;
    justify-content: space-between;
    position: fixed;
    margin-top: 19px;
    left:5%;
    right: 5%;
    top:0%;
  }

  .mainNav a:hover {
    color: #37FF05;
  }

  a {
    text-decoration: none;
    color: #a0a0a0;
  }

  .exhibitionTitle {
    width: 49.7%;
    margin: auto;
    flex-direction: column;
  }

  .exhibitionTitle {
    padding: 185px 0 65px 0;
  }

  .exhibitionTitle span {
    font-size: 1.1em;
    margin: 5px 0 5px 0;
  }

  .exhibitionDescription {
    padding: 30px 0 180px 0;
    width: 90%;
    margin: auto;
    text-align: left;
    flex-direction: column;
  }

  .exhibitionDescription span {
    margin: 10px 0 10px 0;
  }

  .exhibitionDetails {
    margin: 35px 0 25px 0;
  }

  .exhibitionDetails p {
    margin: 3px 0 3px 0;
  }

  .linkDownload {
    color: #0956bf;
  }

  .linkDownload:hover {
    color: #0A63DB;
    font-weight: bold;
  }

  .exhibitionDescription--date {
    padding: 30px 0 30px 0;
    align-self: flex-start;
  }

  /*PALÁCIO WORD*/
  .title {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.6em;
  }

  .navigation {
    flex-basis: 50%;
    align-items: center;
  }

  .navigation li {
    margin-left: 20px;
    font-size: 1.5em;
  }
  .navigation a:hover {
    color: #37FF05;
  }

  /*PT EN LABELS*/
  .languages {
    align-items: center;
    justify-content: space-around;
    flex-basis: 4%;
  }

  .languages span:hover {
    cursor: pointer;
    font-weight: bold;
  }

  .selectedLang {
    font-weight: bold;
  }

  /*ABOUT PAGE*/
  .info {
    width: 45%;
    margin: auto;
    position: absolute;
    left: 25%;
    top: 34%;
    flex-direction: column;
    justify-content: space-around;
    height: 26%;
  }

  .contact, .signature {
    justify-content: center;
    flex-direction: column;
    height: 32.5%;
  }

  /*BACK BUTTON, SAME FOR EVERY PAGE*/
  .backBtn {
    position: fixed;
    bottom: 4%;
    left: 3%;
  }

  .backBtn a:hover {
    color: #37FF05;
  }

  .exhibitionsNames {
    flex-direction: column;
    position: absolute;
    left: 40%;
    top: 25%;
  }

  .exhibitionsNames ul li {
    padding: 8px;
  }

  .exhibitionsNames ul a li:nth-child(2) {
    font-style: italic;
  }

  .exhibitionsNames ul:hover a li:nth-child(odd) {
    color: #37FF05;
    /*color: #1EE3A3;*/
  }

  .exhibitionsNames ul:hover a li:nth-child(2) {
    color: #37FF05;
  }

  .eventsListItem {
    margin-top: 10px;
  }

  .years li {
    cursor: pointer;
  }

  .years li:hover {
    font-weight: bold;
  }

  .years {
    width: 10%;
    position: absolute;
    left: 3%;
    top: 10%;
    padding-left: 0;
  }

 .infinite-scroll-component {
  width: 55%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 8px;
  overflow: hidden!important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          text-align: center;
}

.galleries, .infinite-scroll-component img {
  width: 90%;
  margin: auto;
  margin: 5px 0 5px 0;
}

.publications, .events {
  position: absolute;
  top: 40%;
  left: 40%;
}

.events ul {
  padding-left: 0;
}

.events ul li {
  padding-bottom: 20px;
}

.events ul:hover, li:hover, a:hover {
  color: #37FF05;
}

.eventPageTitle {
  width: 48%;
  margin: auto;
}

.eventPageTitle {
  padding: 125px 0 65px 0;
}

.eventPage {
  width: 48%;
  margin: auto;
  flex-direction: column;
}

.eventPage img {
  width: 100%;
}

.eventPage p {
  font-size: 1em;
}

.eventPage h3 {
  font-weight: normal;
  font-size: 1em;
}

.eventDate {
  padding: 48px 0 48px 0;
}

.aboutDescription {
  height: 37%;
}

.newsletter {
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  height: 44%;
}

.newsletterInput {
  display: inline;
  width: 35%;
  margin-top: 1%;
  border: none;
  border-bottom: 0.2px solid #9e9c9c; 
  transition: all 0.5s ease-in; 
}

input[type="email"]
{
    font-style: italic;
    color: #a0a0a0;
}

.sendEmail{
  display: inline;
  width: 50%;
  color: #0A63DB;
  margin-left: 5px;
  cursor: pointer;
}

.sendEmail:hover{
  font-weight: bold;
}

input:focus {
  outline: 0 none;
  box-shadow: none;
  border-bottom: 0.2px solid #e2e2e2;
}

}

@media only screen and (max-width: 1920px) {
  .eventPageTitle {
    width: 43%;
    margin: auto;
  }

  .eventPage {
    width: 43%;
    margin: auto;
  }

  .eventPage img {
    width: 100%;
  }

  .eventPage p {
    font-size: 1em;
  }

  .eventPage h3 {
    font-weight: normal;
    font-size: 1em;
  }

  .linkDownload {
    padding: 35px 0 95px 0;
  }

  .eventDate {
    padding: 25px 0 25px 0;
  }

  .eventsListItem {
    margin-top: 15px;
  }

  .aboutDescription {
    height: 37%;
  }
}


@media only screen and (max-width: 1366px) {
  .mainNav {
    font-size: 0.8em;
  }

  .exhibitionsNames {
    left: 35%;
  }

  .exhibitionDescription, .exhibitionsNames, .backBtn, .events, .exhibitionTitle, .publications, .info, .contact, .address, .eventPage, .eventPageTitle  {
    font-size: 0.8em;
  }

  .eventsListItem {
    margin-top: 30px;
  }

  .backBtn {
    left: 5%;
  }

  .languages {
    flex-basis: 5%;
  }

  .publications {
    left: 37%;
  }

  .events {
    left: 35%;
  }

  .eventPageTitle {
    width: 48%;
    margin: auto;
    padding: 140px 0 45px 0;
  }

  .eventPage {
    width: 48%;
    margin: auto;
  }

  .eventPage img {
    width: 100%;
  }

  .eventPage p {
    font-size: 1em;
  }

  .eventPage h3 {
    font-weight: normal;
    font-size: 1em;
  }

  .years ul {
    padding-left: 0;
  }

  .years {
    left: 5%;
  }

  .info {
    width: 45%;
    height: 39%;
    justify-content: space-around;
  }

  .contact, .signature {
    height: 32.5%;
    font-size: 1em;
  }

  .newsletter {
    -ms-flex-direction: column;
    justify-content: center;
    flex-direction: column;
    height: 31%;
  }

  .aboutDescription {
    height: 20%;
  }

}

@media only screen and (max-width: 1360px) {
  .mainNav {
    font-size: 0.8em;
  }

  .exhibitionDescription, .exhibitionsNames, .backBtn, .navigation, .events, .exhibitionTitle, .publications, .info, .contact, .address, .eventPage, .eventPageTitle, .linkDownload  {
    font-size: 0.8em;
  }

  .eventsListItem {
    margin-top: 30px;
  }

  .eventPageTitle {
    padding: 80px 0 30px 0;
    width: 47%;
  }

  .eventPage {
    width: 47%;
    margin: auto;
  }

  .exhibitionTitle span {
    margin: 3px 0 3px 0;
  }

  .exhibitionDescription {
    padding: 40px 0 140px 0;
  }

  .languages {
    flex-basis: 5%;
  }

  .info {
    width: 45%;
    height: 30%;
    justify-content: space-around;
  }

  .contact, .signature {
    height: 32.5%;
    font-size: 1em;
    padding: 30px 0 30px 0;
  }

  .backBtn {
    font-size: 0.8em;
  }

  .exhibitionsNames ul li {
    padding: 5px;
  }

  .years {
    font-size: 0.9em;
    left: 5%;
  }

  .publications {
    font-size: 0.8em;
  }

  .events {
    top: 35%;
  }

  .events ul li {
    padding-bottom: 20px;
  }

}

@media only screen and (max-width: 1280px) {
  .contact{
    padding-top: 15px;
  }
}

/* iPad in landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .languages {
    flex-basis: 10%;
  }

  .years {
    top: 10%;
    left: 5%;
  }

  .years ul {
    padding-left: 0;
  }

  .exhibitionsNames {
    top: 20%;
    left: 25%;
  }

  .exhibitionTitle {
    width: 80%;
  }

  .infinite-scroll-component {
    width: 90%;
  }

  .eventPage, .eventPageTitle {
    width: 50%;
  }

  .eventPageTitle {
    padding: 125px 0 65px 0;
  }

  .contact {
    padding-top: 30px;
  }
}

/* iPad in portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .navigation {
    position: absolute;
    top: 70%;
    left: 0;
    padding-left: 0;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: space-around;
    flex-basis: 30%;
    height: 70px;
  }

  .navigation li {
    margin-left: 0;
    font-size: 0.9em;
  }

  .languages {
    flex-basis: 10%;
  }

  .years {
    top: 7%;
    left: 5%;
  }

  .years ul {
    padding-left: 0;
  }

  .exhibitionsNames {
    top: 20%;
    left: 25%;
  }

  .exhibitionTitle {
    width: 80%;
  }

  .infinite-scroll-component {
    width: 90%;
  }

  .info, .publications, .events {
    width: 60%;
    left: 20%;
  }

  .eventPage, .eventPageTitle {
    width: 70%;
  }

  .eventPageTitle {
    padding: 125px 0 65px 0;
  }

}

/* iPhone 6 Plus in landscape */
 @media only screen
 and (min-device-width : 414px)
 and (max-device-width : 736px)
 and (orientation : landscape) {

   .navigation {
     flex-basis: 68%;
   }

   .eventPage {
       width: 43%;
       margin: auto;
       margin-bottom: 80px;
   }

   .eventPageTitle {
     width: 43%;
   }

   .exhibitionTitle {
     padding: 90px 0 65px 0;
   }

   .exhibitionsNames {
     left: 40%;
     top: 20%;
     font-size: 0.7em;
   }

   .languages {
     flex-basis: 10%;
   }

   .contact span {
     padding: 2px 0 2px 0;
     font-size: 1em;
   }

   .signature span {
     padding: 2px 0 2px 0;
     font-size: 1em;
   }

   .contact {
     padding-bottom: 60px;
   }

   .years {
     top: 15%;
   }

   .newsletterInput{
     width: 70%;
   }

 }

 /* iPhone 6 Plus in portrait */
 @media only screen
 and (min-device-width : 414px)
 and (max-device-width : 736px)
 and (orientation : portrait) {
   .exhibitionsNames {
     left: 10%;
   }

   .eventsListItem {
     margin-top: 12px;
   }
 }

/* @media only screen and (min-width: 320px) and (max-width: 768px) */
@media only screen
 and (min-device-width : 375px)
 and (max-device-width : 667px)
 and (orientation : portrait) {
      .mainNav {
        width: 90%;
        margin-top: 0;
      }

      .languages {
        flex-basis: 13%;
      }

     .navigation {
       position: absolute;
       top: 70%;
       left: 0;
       padding-left: 0;
       flex-direction: column;
       align-self: flex-start;
       align-items: flex-start;
       justify-content: space-around;
       flex-basis: 30%;
       height: 70px;
     }

     .navigation li {
       margin-left: 0;
       font-size: 0.9em;
     }

     .years {
       top: 5%;
       left: 5%;
     }

     .years ul {
       padding-left: 0;
     }

     .exhibitionTitle {
       padding: 82px 0 12px 0;
       margin-left: 15px;
     }

     .exhibitionsNames {
       top: 25%;
       left: 5%;
     }

     .backBtn {
        left: 5%;
     }

     .infinite-scroll-component {
       width: 95%;
     }

     .infinite-scroll-component img {
       width: 100%;
       margin: 2px 0 2px 0;
     }

     .info {
       width: 70%;
       left: 15%;
     }

     .publications {
       left: 10%;
     }

     .events {
       left: 10%;
     }

     .eventPageTitle {
       width: 90%;
       font-size: 0.9em;
     }

     .eventPage {
       width: 90%;
     }
 }

 /* iPhone 6 Plus in landscape */
   @media only screen
   and (min-device-width : 375px)
   and (max-device-width : 667px)
   and (orientation : landscape) {

    .navigation {
      flex-basis: 70%;
    }

    .exhibitionTitle {
      padding: 90px 0 65px 0;
    }
    .exhibitionsNames {
      left: 25%;
      top: 20%;
      font-size: 0.7em;
    }

    .years {
      top: 15%;
      left: 5%;
    }

    .years ul {
      padding-left: 0;
    }

    .languages {
      flex-basis: 10%;
    }

    .contact span {
      padding: 2px 0 2px 0;
      font-size: 1em;
    }

    .signature span {
      padding: 2px 0 2px 0;
      font-size: 1em;
    }

    .contact {
      padding-bottom: 60px;
    }

   }

    /* iPhone 5 & 5S in landscape */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px)
    and (orientation : landscape) {
      .navigation ul {
        padding-left: 0;
      }

      .navigation a {
        font-size: 0.8em;
      }

      .info {
        top: 18%;
      }

      .publications {
        left: 25%;
      }

      .events {
        left: 25%;
      }

      .languages {
        font-size: 0.9em;
      }

      .title a {
        font-size: 0.9em;
      }

      .backBtn {
        left: 5%;
        font-size: 0.6em;
      }

      .exhibitionsNames {
        top: 15%;
      }

      .exhibitionsNames ul li {
        padding: 5px 0 5px 0;
        font-size: 0.8em;
      }

      .exhibitionTitle {
        padding: 90px 0 30px 0;
      }

    }

    /* iPhone 5 & 5S in portrait */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px)
    and (orientation : portrait) {
      .mainNav {
        width: 90%;
        margin-top: 0;
      }

      .events {
        left: 7%;
      }

      .eventPageTitle {
        width: 90%;
      }

      .eventPage {
        width: 90%;
      }

      .publications {
        left: 10%;
      }

      .backBtn {
        left: 5%;
      }

      .info {
        width: 75%;
        left: 15%;
        top: 120px;
        height: 53%;
      }

      .contact {
        padding-top: 30px;
      }

      .navigation {
       position: absolute;
       top: 70%;
       left: 0;
       padding-left: 0;
       flex-direction: column;
       align-self: flex-start;
       align-items: flex-start;
       justify-content: space-around;
       flex-basis: 30%;
       height: 70px;
       font-size: 1.1em;
     }

     .navigation li {
       margin-left: 0;
       font-size: 0.9em;
     }

     .languages {
       flex-basis: 20%;
     }

     .years {
       top: 7%;
       left: 5%;
     }

     .years ul {
       padding-left: 0;
     }

     .exhibitionsNames {
       top: 30%;
       left: 2%;
     }

     .exhibitionTitle {
       padding: 90px 0 30px 0;
       width: 90%;
     }

     .infinite-scroll-component {
       width: 96%;
     }

     .infinite-scroll-component img {
        margin: 2px 0 2px 0;
     }

     .languages {
       flex-basis: 15%;
     }

    }
